# Python Introduction
In this notebook I`d like to explore Python

In [1]:
print ("Hello world!")

Hello world!

In [2]:
# This is a comment
print ("something")

something

In [3]:
# Variablen und Wertezuweisungen (value assignment)
name = "Darwin"
print (name)

Darwin

In [4]:
# string =Zeichenkette
print ("Darwin")

Darwin

In [5]:
# Integer = Ganzzahlen
age = 75
print (age)

75

In [6]:
# Floats - Gleitkommazahlen 
size = 1.75
print (size)

1.75

In [7]:
# Booleab - Boolsche Werte
is_scientist = True
print (is_scientist)

True

In [8]:
type (name)

str

In [9]:
name
age

75

In [10]:
type (age)
int

int

# Operatoren

In [14]:
5 + 5

10

In [15]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [17]:
name + "10"

'Darwin10'

In [18]:
# kein Fehler, weil immer Zeichenketten miteinandern verbunden werden müssen

In [19]:
size/age

0.023333333333333334

In [20]:
type (size)

float

In [21]:
number of article = "50"

SyntaxError: invalid syntax (<ipython-input-21-e94c6b5650e8>, line 1)

In [22]:
number_of_articles = "50"

In [23]:
number_of_articles_/ 10

NameError: name 'number_of_articles_' is not defined

In [24]:
int (number_of_articles) / 10

5.0

# string erst in Integer  umwandeln

# funktionen und methoden nutzen

In [31]:
len (name)
#Länge eines Codes anzeigen

6

In [30]:
# Methoden = Funktionen eines Objekts

In [32]:
name.upper
#name tab.Taste drücke --> upper auswählen

In [35]:
name.upper ()

'DARWIN'

In [37]:
upper_name = name.upper ()

In [39]:
name.upper ()

'DARWIN'

In [40]:
# Methode mit 2 Argumenten / etwas ersetzen
name.replace ("w" , "Blaaaa")

'DarBlaaaain'

In [48]:
first_name = "Charles"

In [49]:
first_name.count ("a")

1

In [47]:
#zeigen, wie oft das A in "Carles" enthalten ist

## List & Dictionaries

In [50]:
# Liste generieren mit []
names = ["Darwin" , "Hawkins" , "Curie"]

In [51]:
# syntax highlighting : bestimmte Sachen werden von jupyter in Farben wiedergegeben

In [52]:
#Zählen in der Informatik fängt bei 0 an

In [53]:
names [0]

'Darwin'

In [54]:
names [1]

'Hawkins'

In [56]:
names [2]

'Curie'

In [57]:
#vom letzten anfangen
names [-1]

'Curie'

In [58]:
upper_name [0]

'D'

In [59]:
upper_name [1]

'A'

In [61]:
names[0:2]

['Darwin', 'Hawkins']

In [67]:
# : heißt  "bis"

In [64]:
authors_and_ages = {"Darwin": 73, "Goethe": 80, "Schiller": 50}

In [65]:
#Schlüssel-Werte-Paare: Schlüssel muss einzigartig sein
Schlüssel verweist auf einen Wert

In [66]:
authors_and_ages ["Darwin"]

73

In [68]:
#Strukturen können miteinander verknüpft werden --> maapings zwischen DOIs, Listen, Dictionaries

# for-Schleifen

In [70]:
for name in names: 
    print (name + " is a great name")

Darwin is a great name
Hawkins is a great name
Curie is a great name

In [72]:
# in names ist eine Liste von Dingen (Namen) abgelegt
für jedes Element wird die gleiche Aktion ausgeführt; alles wird in einer Schleife / Iteration gespeichert und ausgeführt

SyntaxError: invalid syntax (<ipython-input-72-779839dfd96d>, line 2)

In [74]:
for name in names: 
    print (name + " is a great name")
print ("-------")

Darwin is a great name
Hawkins is a great name
Curie is a great name
-------

# Bedingte Anweisung

In [81]:
temp = 20
if temp >15:
    print ("it's warm")

it's warm

In [82]:
20 > 15

True

In [83]:
20 > 70

False

In [84]:
temp = 10
if temp >15:
    print ("it's warm")

In [85]:
# es wird nicht ausgeführt, das es nicht der Fall ist

In [86]:
temp = 20
if temp >15:
    print ("it's warm")
else: 
    print ("it's cold")

it's warm

In [89]:
# if, else = keywords; siehe programiz.com

In [90]:
temp = 10
if temp > 25:
    print ("it's hot")
elif temp > 15:
    print ("it's warm")
else:
    print ("It's cold")

It's cold